*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{  
    background-color: rgb(36, 35, 56);
    background-image: url(image/arrierPlan.jpg) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

  h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 50px;
    
  }
.container{
    width: 600px;
    height: auto;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(28, 29, 27);
    text-align: center;
    border-radius: 15px;
    transition: 0.15s;
}



.acces{
    color: white;
    font-size: 1.2em;
    margin-top: -20px;
}

.choices{
    display: flex;
    margin-top: 20px;
}
.choice{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(31, 137, 179);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 24px;
    transition: 0.25s;
}

.non{
    transition: 0.5s;
}

.oui:hover{
    width: 210px;
    color: #2ecc71;
    border-color:#2ecc71 ;

}

.non:hover{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: red;
    color: red;
    border-color: red;
}

#acceuil{
    display: none;
    background-image: url(image/background.jpg);

    background-repeat: no-repeat;
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;

}

.triangle_style{
    background-image: linear-gradient(to bottom, #8965c9, #b15ebd, #d059ac, #e75897, #f55e81, #f55e81, #f55e81, #f55e81, #e75897, #d059ac, #b15ebd, #8965c9);
    width: 250px;
    height: 250px;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    display: flex;
    text-align: center;
    justify-content: center;
}


.fas{
    font-size: 7em;
    color: white;
}



.triangle_Cv{
    display: flow-root;
    position: absolute;
    top: 45%;
    left: 34%;
    animation-delay: 0.5s;
    animation: slideT_cv 2s;

}

.fa-address-card{
    margin-top: 115px;
    font-size: 6em;
}

.text_cv{
    font-size: 1.5em;
    color:white ;
    font-weight: bolder
}



.triangle_PorteFolio{
    display: flow-root;
    position: absolute;
    top: 45%;
    left: 51%;
    transform: rotate(180deg);
    animation-delay: 1s;
    animation: slideT_Pf  2s;

}

.text_pl{
    font-weight: bolder;
    margin-top: 12px;
    font-size: 1.5em;
    transform: rotate(180deg);
    color: white;
}

.fa-globe{
    margin-top: 90px;
}



.triangle_Social{
    display: flow-root;
    position: absolute;
    top: 45%;
    left: 17%;
    transform: rotate(180deg);
    animation: slideT_social 2s;
}

.text_social{
    font-weight: bolder;
    margin-top: 12px;
    font-size: 1.5em;
    transform: rotate(180deg);
    color: white;
}

.fa-share-alt{
    margin-top: 90px;
}




.triangle_Art{
    display: flow-root;
    position: absolute;
    top: 45%;
    left: 68%;
    animation-delay: 1.5s;
    animation: slideT_art 2s;
}

.text_art{
    font-weight: bolder;
    margin-top: 2px;
    font-size: 1.5em;
    color: white;

}

.fa-palette{
    margin-top: 100px;
}

@keyframes slideT_cv{
    0%{
        left: 110%;
    }
    100%{
        left: 34%;
    }
}

@keyframes slideT_Pf{
    0%{
        left: 110%;
    }
    100%{
       left: 51%;
    }
}

@keyframes slideT_social{
    0%{
        left: 110%;
    }
    100%{
        left: 17%;
    }
}

@keyframes slideT_art{
    0%{
        left: 110%;
    }
    100%{
        left: 68%;
    }
}

