*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{  
    background-color: rgb(36, 35, 56);
    background-image: url(image/arrierPlan.jpg) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 2000px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

  h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 50px;
    
  }
.container{
    width: 600px;
    height: auto;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(28, 29, 27);
    text-align: center;
    border-radius: 15px;
    transition: 0.15s;
}



.acces{
    color: white;
    font-size: 1.2em;
    margin-top: -20px;
}

.choices{
    display: flex;
    margin-top: 20px;
}
.choice{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(31, 137, 179);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 24px;
    transition: 0.25s;
}

.non{
    transition: 0.5s;
}

.oui:hover{
    width: 210px;
    color: #2ecc71;
    border-color:#2ecc71 ;

}

.non:hover{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: red;
    color: red;
    border-color: red;
}



