@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin-bottom: 0px;
    background: rgb(6,0,17);
    background: linear-gradient(45deg, rgba(6,0,17,1) 0%, rgba(20,0,56,1) 50%, rgba(6,0,17,1) 100%);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 1500px;
    overflow-x: hidden;
    overflow-y: hidden;
}

*{
    margin: 0px;
    padding: 0pt;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre;
    border-top: 4px solid #6000dd;
}

#picture_Profil {
    width: 15%;
    border: solid 4px;
    border-radius: 150px;
    border-color: #6000dd;
    margin-bottom: 1%;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 3%;
    color: white;
    letter-spacing: 3px;
}

.block{
    border: solid 3px #6000dd ;
    background: rgb(18 20 42);
    border-radius: 30px;
    margin-bottom: 37px;
}

#presentation_P {
    text-align: center;
    font-size: 1.5em;
}

button {
    display: inline-block;
    margin: 2em auto;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 0.7em 1.2em;
    background: linear-gradient(to bottom, #cacaca, #313131);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 93%;
}

button:hover {
    background: linear-gradient(to bottom, #fbfbfb, #626262);
}

.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    padding-top: 15px;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}

a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

span {
    transition: color 0.5s ease;
}

.item:hover span {
    color: #ff0000;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}

.item:nth-child(1) {
    transition-delay: 0.45s;
}

.item:nth-child(2) {
    transition-delay: 0.4s;
}

.item:nth-child(3) {
    transition-delay: 0.35s;
}

.item:nth-child(4) {
    transition-delay: 0.3s;
}

.item:nth-child(5) {
    transition-delay: 0.25s;
}

.item:nth-child(6) {
    transition-delay: 0.2s;
}

.item:nth-child(7) {
    transition-delay: 0.15s;
}

.item:nth-child(8) {
    transition-delay: 0.1s;
}

.item:nth-child(9) {
    transition-delay: 0.05s;
}

.item:nth-child(10) {
    transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

.retour {
    display: none;
}

@media (max-width: 576px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow-x:auto;
        overflow-y: auto;
    }


    main {
        width: 80%;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #picture_Profil {
        width: 75%;
        margin-bottom: 10%;
    }
    h1 {
        margin-bottom: 20%;
        font-size: 2.5em;
    }
    .block{
        width: 90%;
        padding: 10px;
    }
    #presentation_P {
        width: 100%;
        font-size: 1em;
    }
    .menu {
        display: none;
    }
    button {
        display: none;
    }
    .retour {
        margin-top: 2%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow-x:auto;
        overflow-y: auto;
    }
    main {
        width: 100%;
        white-space: normal;
    }
    #picture_Profil {
        width: 35%;
        margin-bottom: 5%;
    }
    h1 {
        margin-bottom: 10%;
        
    }
    .block{
        width: 90%;
        padding: 10px;
    }
    #presentation_P {
        width: 100%;
        font-size: 1.5em;
    }
    .menu {
        display: none;
    }
    button {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}