@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background: linear-gradient(45deg, rgba(6,0,17,1) 0%, rgba(20,0,56,1) 50%, rgba(6,0,17,1) 100%);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', sans-serif;
    margin: 0px;
    height: 1500px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre;
    border-top: 4px solid #6000dd;
}

h1 {
    font-size: 4em;
    color: white;
    letter-spacing: 5px;
}

#contain {
    display: flex;
}

.spaceBar_vertical {
    border: solid;
    padding: 0% 0 0 0;
    color: #6000dd ;
}

.title_forme {
    display: flex;
    font-size: 3em;
    margin-top: 10%;
}

.title {
    width: 50%;
    margin-right: -4%;
    margin-left: 8%;
    white-space: pre-wrap;
}

i {
    margin-right: 15%;
}

.descib {
    width: 50%;
    margin-left: 8%
}

.describ1 {
    margin-top: 5%;
}

.describ2 {
    margin-top: -1%;
}

.describ3 {
    margin-top: -5%;
}

.descib_forme {
    width: 85%;
    font-size: 1.2em;
    white-space: pre-wrap;
    color: #7d7d7d;
}

.spaceBare {
    border-bottom: solid;
    color: rgb(253, 253, 253);
    padding: 2% 1% 0% 70%;
    margin-bottom: 3%;
}

button {
    display: inline-block;
    margin: 2em auto;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 0.7em 1.2em;
    background: linear-gradient(to bottom, #cacaca, #313131);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: fixed;
    bottom: 15px;
    left: 88%;
}

button:hover {
    background: linear-gradient(to bottom, #fbfbfb, #626262);
}

.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    padding-top: 15px;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}

a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

span {
    transition: color 0.5s ease;
}

.item:hover span {
    color: #ff0000;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}

.item:nth-child(1) {
    transition-delay: 0.45s;
}

.item:nth-child(2) {
    transition-delay: 0.4s;
}

.item:nth-child(3) {
    transition-delay: 0.35s;
}

.item:nth-child(4) {
    transition-delay: 0.3s;
}

.item:nth-child(5) {
    transition-delay: 0.25s;
}

.item:nth-child(6) {
    transition-delay: 0.2s;
}

.item:nth-child(7) {
    transition-delay: 0.15s;
}

.item:nth-child(8) {
    transition-delay: 0.1s;
}

.item:nth-child(9) {
    transition-delay: 0.05s;
}

.item:nth-child(10) {
    transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

.retour {
    display: none;
}

@media (max-width: 576px) {
    .title_forme {
        display: flex;
        font-size: 2em;
        margin-top: 97%;
        white-space: pre-wrap;
    }
    .title {
        width: 90%;
        margin-right: 35%;
        margin-left: 8%;
    }
    .descib_forme {
        width: 200%;
        font-size: 1.2em;
        white-space: pre-wrap;
        color: #7d7d7d;
    }
    .spaceBare {
        border-bottom: solid;
        color: rgb(253, 253, 253);
        padding: 2% 1% 0% 70%;
        margin-bottom: 3%;
        margin-left: 109%;
    }
    h1 {
        font-size: 2em;
        color: white;
        letter-spacing: 2px;
        margin-left: 100%;
    }
    .describ1 {
        margin-top: 84%;
    }
    .describ3 {
        margin-top: -73%;
    }
    button {
        display: none;
    }
    .menu {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    h1 {
        font-size: 2em;
    }
    .title {
        margin-right: -5%;
        margin-left: 8%;
        white-space: pre-wrap;
    }
    .title_forme {
        font-size: 2em;
        margin-top: 25%;
    }
    .descib_forme {
        font-size: 1em;
    }
    .describ1 {
        margin-top: 9%;
    }
    .describ2 {
        margin-top: -18%;
    }
    .describ3 {
        margin-top: -24%;
    }
    button {
        display: none;
    }
    .menu {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .title {
        margin-right: -5%;
        margin-left: 8%;
        white-space: pre-wrap;
    }
    .describ1 {
        margin-top: -1%;
    }
    .describ2 {
        margin-top: -27%;
    }
    .describ3 {
        margin-top: -23%;
    }
    .menu {
        display: none;
    }
    button {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .title {
        margin-right: 5%;
        margin-left: 5%;
        white-space: pre-wrap;
    }
    .describ1 {
        margin-top: -1%;
    }
    .describ2 {
        margin-top: -8%;
    }
    .describ3 {
        margin-top: -14%;
    }
}