@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background: rgb(6,0,17);
    background: linear-gradient(45deg, rgba(6,0,17,1) 0%, rgba(20,0,56,1) 50%, rgba(6,0,17,1) 100%);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid #6000dd;
}


h1 {
    margin-top: 10px;
    font-size: 4em;
    letter-spacing: 5px;
    color: white;
}

.spaceBare {
    border-bottom: solid;
    color: #6000dd;
    padding: 2% 1% 0% 70%;
    margin-bottom: 3%;
}

.container {
    display: flex;
    flex-direction: initial;
    align-items: center;
}

.date {
    margin: 10% 10% 10% 32%;
    width: 32%;
}

.date_describ {
    font-size: 1.5em;
}

.lieux {
    font-size: 1.2em;
    color: #757575
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 2.5em;
    margin-bottom: 2%;
    color: white;
}

.etablisement {
    font-size: 2em;
    margin-bottom: 2%;
}

.describ {
    font-size: 1.2em;
    width: 50%;
    color: #757575
}

.D3 {
    margin-left: 5%;
    margin-right: 32%;
    width: 51%;
}

.D5 {
    margin: 10% 16% 10% 23%;
}

.D6 {
    margin: 10% 25% 10% 15%;
}

.D7 {
    margin: 10% 31% 10% 10%;
}

.menu {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.menu:hover {
    pointer-events: all;
}

.label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    padding-top: 15px;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}

a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

span {
    transition: color 0.5s ease;
}

.item:hover span {
    color: #ff0000;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}

.item:nth-child(1) {
    transition-delay: 0.45s;
}

.item:nth-child(2) {
    transition-delay: 0.4s;
}

.item:nth-child(3) {
    transition-delay: 0.35s;
}

.item:nth-child(4) {
    transition-delay: 0.3s;
}

.item:nth-child(5) {
    transition-delay: 0.25s;
}

.item:nth-child(6) {
    transition-delay: 0.2s;
}

.item:nth-child(7) {
    transition-delay: 0.15s;
}

.item:nth-child(8) {
    transition-delay: 0.1s;
}

.item:nth-child(9) {
    transition-delay: 0.05s;
}

.item:nth-child(10) {
    transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}

.retour {
    display: none;
}

@media (max-width: 576px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }
    .date {
        margin: 10%;
        width: 61%;
        text-align: center;
    }
    .container {
        flex-direction: column;
    }
    .info {
        align-items: center;
    }
    .title {
        text-align: center;
    }
    .etablisement {
        text-align: center;
    }
    .describ {
        font-size: 1em;
        text-align: center;
        width: 90%;
    }
    .spaceBare {
        margin-top: 6%;
    }
    .menu {
        display: none;
    }
    button {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
    h1 {
        text-align: center;
    }
    .D4 {
        margin: 10% 18% 10% 22%;
    }
    button {
        display: none;
    }
    .menu {
        display: none;
    }
    .D1 {
        margin: 10% 40% 10% 8%;
    }
    .D2 {
        margin: 10% 40% 10% 12%;
        width: 38%;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .date {
        margin: 10% 26% 10% 24%;
    }
    .D3 {
        margin: 10% 27% 10% 10%;
    }
    .menu {
        display: none;
    }
    button {
        display: none;
    }
    .retour {
        margin-top: 4%;
        display: block;
        text-align: center;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
}